* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(195, 248, 244), rgb(240, 214, 176));
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: .385rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #361818;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }

  .todo-input {
    border-radius: 10px;
    height: 38px;
    width: 42rem;
    border-color: rgb(172, 240, 172);
}

.todo-button {
    width: 12rem;
    border-radius: 8px;
    background-color: rgba(49, 107, 35, 0.884);
    border: white;
    height: 2.5rem;
    color: rgb(255, 255, 255);
}

.trash-btn {
    background-color: rgb(231, 53, 53);
    color: white;
    border-radius: 7px;
    padding: 1rem;
    border: white;
    margin: 8px;
}


.complete-btn {
    background-color: rgb(247, 130, 20);
    color: white;
    border-radius: 7px;
    padding: 1rem;
    border: white;
    margin: 8px;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    width: 40rem;
    color: rgb(0, 0, 0);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;

}

.heading {
    background-color: rgb(31, 32, 32);
    color: white;
    padding: 3px;
    text-align: center;
    margin-bottom: 16px;
    width: 27rem;
    border-radius: 34px;
    height: 4.5rem;
}